<!DOCTYPE html>
<html>
  <body>
    <h1>Hello Login</h1>

    <form method='post' action='/login'>
      <div style='display: block'>
        <label>Username: </label><input name='username' type='text' /><label>{{ usernameMessage }}</label>
      </div>
      <div style='display: block'>
        <label>Password: </label><input name='password' type='password' /><label>{{ passwordMessage }}</label>
      </div>
      <button type='submit' id='submit'>Submit</button>
    </form>

    <h4>Havn't signed up? Register <a href='/register'>here</a></h4>

  </body>
<html>
